main {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.hero__img {
  background-image: url("./public/background.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 30%;
  position: absolute;
  top: 0;
  right: 0;
}

.hero__content {
  position: relative;
  display: flex;
  width: 85%;
  height: 600px;
  padding: 1rem;

  img {
    width: 50%;
    height: 90%;
    position: absolute;
    bottom: 0.5rem;
    right: 0;
  }

  &-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 1.5rem;

    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.5rem;
    }
  }

  &-search {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 125%;
    min-width: 560px;
    background-color: #fff;
    z-index: 1;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #e2e2e2;

    input {
      padding: 0.5rem;
      font-size: 1.3rem;
      border: 1px solid #e2e2e2;
      border-radius: 10px;
      flex: 1;
    }

    select {
      padding: 0.5rem;
      font-size: 1.3rem;
      border: 1px solid #e2e2e2;
      border-radius: 10px;
    }

    button {
      padding: 0.5rem 1rem;
      font-size: 1.3rem;
      background-color: #333;
      color: #fff;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 768px) {
    width: 95%;

    img {
      width: 70%;
      height: 100%;
      padding: 1.5rem;
    }

    &-inner {
      width: 100%;
      background: rgba(255, 255, 255, 0.8);
      z-index: 2;
      padding-right: 1.5rem;
      align-items: center;
      text-align: center;

      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.3rem;
      }
    }

    &-search {
      flex-direction: column;
      width: 50%;
      min-width: 300px;
    }
  }
}
