.navbar-container {
    background-color: #333;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 90px;

    &__logo {
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
    }

    &__list {
        display: flex;
        gap: 1rem;
        padding: 1rem;

        &-item {
            padding: 1rem;
            text-align: center;

            &:hover, &_active {
                background-color: #555;
                border-radius: 10px;
                cursor: pointer;
            }
        }
        
        @media screen and (max-width: 768px) {
            position: fixed;
            top: 0;
            right: 0;
            flex-direction: column;
            background-color: #333;
            min-height: 100vh;
            transform: translateX(100%);
            transition: transform 0.3s;
            width: 250px;
            padding: 1rem;
            
            &_active {
                transform: translateX(0);
            }
        }
    }


    &__hamburger {
        display: none;

        @media screen and (max-width: 768px) {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }

    &__list-close {
        display: none;

        @media screen and (max-width: 768px) {
            &_active {
                display: flex;
                justify-content: flex-end;
                cursor: pointer;
            }
        }
    }
}
